.slide-container {
  width: 20%;
  margin: auto;
  float: left;

  @media screen and (max-width: 800px) {
    width: 40%;
    height: 20%;
    display: block;
    opacity: 0.9;
    min-width: unset;
    padding: 0 10px;
  }
}

.each-slide > div {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  background-size: cover;
  height: 250px;

  @media screen and (max-width: 800px) {
    width: 40%;
    height: 20%;
    display: block;
    opacity: 0.9;
    min-width: unset;
    padding: 0 10px;
  }
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 80%;
  overflow: hidden;

  @media screen and (max-width: 800px) {
    width: 40%;
    height: 20%;
    display: block;
    opacity: 0.9;
    min-width: unset;
    padding: 0 10px;
  }
}

.background-detail-image {
  width: 20%;
  height: 95%;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}
